<html>
<head>
    <title>Jewellistiq</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Style1.css">
    <link rel="stylesheet" href="Style2.css">
  </head>
  
  <body>
    <%- include ('./partials/navbar') %>  
    <div class="container">
    <div class="head">

        <img src="Brac.jfif" alt="">
        <h1> <br>
          WELCOME TO OUR BRACELET <br> COLLECTION </h1>
        <h4> Wide variety of antique collections ranging from <br> Everything in PKR 500 </h4>
      </div>
    
    
      <div class="categories">
    
        <div class="card-container">
          <div class="card" style="width: 18rem;">
            <img src="Bracelet1.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pair of bracelets</h5>
              <p class="card-text">Beutiful antique color</p>
              <p class="card-text">Price: 500Rs</p>
              <a href="#" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        
        
          <div class="card" style="width: 18rem;">
            <img src="Brace.jfif" style="height: 400px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Infinity Bracelet</h5>
              <p class="card-text">Infinity heart collection</p>
              <p class="card-text">Price: 500Rs</p>
              <a href="#" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        
          <div class="card" style="width: 18rem; ">
            <img src="Bracelet3.jfif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hexagon Bracelet</h5>
              <p class="card-text">Pair of flowered bracelets</p>
              <p class="card-text">Price: 500Rs</p>
              <a href="#" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </body>
    
    </html>