<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewellistiq</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f80538a542.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Style.css">
    <script src="Script.js"></script>

</head>

<body>
    <div class="container">
        <img src="cover.jfif" alt="" class="rounded">
        <h1> <b>JEWELLISTIQ</b> </h1>
        <p>Life isn't perfect but your jewellery can be.</p>
        <h3>We deal in bracelets, earrings, necklace and much more.</h3>
        <h4>Want to know your style? View our collections. </h4>
    </div>
    <div class="parent">
        <a href="/form"><button type="button" class="btn btn-outline-danger" onclick="submitForm()">Collections</button></a>

    </div>
    <div class="container child fixed-bottom">
        <div class="row">
            <div class="col-3"> <a href="https://www.facebook.com/login/"><i class="fa-brands fa-facebook"></i></a>
            </div>

            <div class="col-3"> <a href="https://www.instagram.com/accounts/login/"><i
                        class="fa-brands fa-instagram"></i></a>
            </div>

            <div class="col-3"> <a href="https://www.instagram.com/accounts/login/"><i
                        class="fa-solid fa-square-phone"></i></a>
            </div>
        </div>
    </div>

</body>

</html>